@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 125vh;
    padding: 24px 20px 20px 20px;
}

main .card {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
    min-height: 40vh;
}

main .data {
    display: flex;
    grid-gap: 20px;
}


/*------------------------------- formulario --------------------------------------------*/

main .data .incomes_page {
    width: 80%;
    height: 40hv;
}

.incomes_page .title {
    position: relative;
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 2%;
    font-weight: 600;
}

.incomes_page .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 36%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form_register {
    width: 100%;
}

.position_register {
    display: inline-block;
    padding: 0px 10px 15px 15px;
    width: 49%;
}

.form_register input {

    padding: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form_register span {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}

.form_register input:focus {
    border-color: #9b59b6
}

form .button_register {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    height: 5vh;
    width: 40%;
    padding-top: 0.7vh;
    outline: none;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #7b71e6, #9b59b6);
    cursor: pointer;
}

form .button_register:hover {
    background: linear-gradient(-135deg, #7b71e6, #9b59b6);
}

/*                  Grafica                         */

main .right-section {
    width: 45%;
    position: relative;
    display: flex;
}

main .right-section .graphic_history {
    width: 100%;
    height: 100%;
}

#columnchart_material {
    width: 95%;
    height: 100%;
}
/*       -------------------------- Table -------------------------------         */


main .history_table {
    width: 100%;
    margin-top: 20px;
}

main .history_table .card {
    width: 100%;
    min-height: 60vh;
    margin-top: 20px;
    max-height: 326px;
    overflow-y: scroll;
}

main .history_table .card::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(203, 208, 212);
}

main .history_table .card::-webkit-scrollbar-thumb {
    background-color: #9c59b6d8;
    border-radius: 10px;
}

.history_table #title_historial {
    font-weight: 600;
    font-size: 24px;
}

#table_income_wrapper,
.filter.section {
    padding-top: 20px;
}

#table_income_length {
    padding-bottom: 20px;
}

#table_income_filter {
    visibility: hidden;
}

tr:nth-child(odd) {
    background-color: #995e9f;
}

.dataTable {
    width: 50px;
}

.even td {
    background: #a37da7;

}

.odd td {
    background: #995e9f;
}

.filters {
    background: #995e9f;
}

.filters input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    transform: translate(-7px);
}

tr {
    color: white;
}



